.p-titulo{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #a9a9a9;
  position:relative;
}

.p-titulo:after {
  content:'';
  position:absolute;
  left:0;right:0;
  top:100%;
  margin: 10px auto;
  width:10%;
  height:3px;
  background:#8a2be2;
}

.p-container {
  flex: 1 1;
  overflow: auto;
  width: 100%;
  margin-bottom: 4rem;
}

.p-container h3 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 40px;
  display: block;
  text-transform: uppercase;
}

.p-container p {
  font-size: 15px;
  line-height: 40px;
  display: block;
}

.p-container img {
  width: 500px;
  max-width: 100%;
  display: block;
  float: left;
  margin: 0px 15px 15px 0px;
  margin-left: 1rem;
}

.p-container .year{
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #8a2be2;
  padding: .25em .4em;
  border-radius: .25rem;
  line-height: 1;
  color: #fff;
}

.p-container .btn-grande{
  background-color: #8a2be2;
  color: #ffffff;
  margin: 0.5rem;
  font-size: 1rem;
  border-radius: 15px 50px 30px;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
  border: solid 1px #8a2be2;
  font-weight: bold;
}

.p-container .btn-grande:hover{
  background-color: #ffffff;
  color: #000000;
  transition: all .3s ease 0s;
  transform: translateY(-3px);
}

.wave {
  position: relative;
  top: 30px;
}

@media (max-width: 992px) {
  .p-container img {
    margin-left: 0px;
  }

  .p-container h3{
    text-align: center;
  }

  .p-container p{
    text-align: center;
  }

  .p-container .btn-grande{
    margin-left: 5rem;
  }
}
