.c-container {
  background-color: #8a2be2;
  text-align: center;
  color: #fff;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.c-container h1 {
  font-size: 2.28rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.c-container h1:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 10px auto;
  width: 10%;
  height: 3px;
  background: #fff;
}

.c-container p {
  font-size: 24px;
  margin: 2rem;
  width: 40%;
  margin-left: 30rem;
  left: auto;
  right: auto;
}

@media (max-width: 1024px) {
  .c-container h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .c-container p {
    font-size: 19px;
    padding: 2rem;
    width: 100%;
    margin-left: 0px;
  }
}

.c-container img {
  width: 200px;
  max-width: 100%;
}

.c-container .btn-contact {
  margin: 0.5rem;
  font-size: 19px;
  margin-bottom: 2rem;
  color: #424242;
  border-radius: 15px 50px 30px;
  cursor: pointer;
  font-weight: bold;
  animation: waving 2s linear infinite;
  animation-play-state: paused;
}

.c-container .btn-contact:hover {
  animation-play-state: running; 
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(8deg);
  }
  95% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.c-container .c-icon {
  margin: 0.5rem;
  font-size: 22px;
  margin-bottom: 4rem;
}
