.h-container {
  flex: 1 1;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 4rem;
}

.h-container h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 40px;
  display: block;
  margin-top: 7rem;
  color: #a9a9a9;
  position:relative;
  display:inline-block;
}

.h-container h1:after {
  content:'';
  position:absolute;
  left:0;right:5;
  top:100%;
  margin: 10px auto;
  width:60%;
  height:3px;
  background:#8a2be2;
}

.h-container p {
  font-size: 24px;
  line-height: 40px;
  display: block;
}

.h-container a{
  background-color: #8a2be2;
  color: #ffffff;
  margin: 0.5rem;
  font-size: 17px;
  border-radius: 15px 50px 30px;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
  border: solid 1px #8a2be2;
  font-weight: bold;
}

.h-container a:hover{
  background-color: #ffffff;
  color: #000000;
  transition: all .3s ease 0s;
  transform: translateY(-3px);
}

.h-container .logo {
  width: 530px;
  max-width: 100%;
  display: block;
  float: left;
  margin: 0px 15px 15px 0px;
  margin-right: 5rem;
  margin-bottom: 3rem;
}

@media (max-width: 992px) {
  .h-container {
    text-align: center;
    margin-bottom: 0px;
  }

  .h-container .logo {
    margin-right: 0;
    margin-bottom: 0px;
  }

  .h-container a{
    display: none;
  }

  .h-container h1:after{
    left:0;right:0;
  }
}
