.sliderick {
  text-align: center;
  padding: 4rem;
}

.s-titulo-principal {
  color: #292929;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.s-titulo-principal:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 10px auto;
  width: 10%;
  height: 3px;
  background: #8a2be2;
}

.sliderick img {
  width: 60px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sliderick .s-titulo {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3f54a3;
}

.sliderick p {
  font-size: 1.2rem;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: #3f54a3;
}

@media (max-width: 992px){
  .sliderick .s-titulo {
    font-size: 1.4rem;
  }
  
  .sliderick p{
    display: none;
  }

  .sliderick img {
    width: 160px;
  }
}
